.button {
  background-color: rgba(255, 255, 255, 0.2);
  padding: .5rem 3rem;
  font-size: 1.2rem;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  border: 0;
  transition: all .2s ease-in-out;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: black;
  }
}